@import url('https://fonts.googleapis.com/css2?family=Lato&family=Outfit&display=swap');
:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0;
}
.App {
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--main-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nft-card {
    width: 18rem;
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--card-bg);
}
.nft-image {
    position: relative;
    border-radius: 1rem;
}
.nft-image > img {
    border-radius: 1rem;
    width: 100%;
}
.nft-image::after {
    border-radius: 1rem;
}
.nft-image:active::after {
    content: "";
    position: absolute;
    background: var(--cyan);
    background-image: url("./images/icon-view.svg");
    background-repeat: no-repeat;
    background-position: center;
    filter: opacity(.65);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.nft-view {
    color: var(--white);
}
.nft-text > .title {
    cursor: pointer;
    font-size: 1.35em;
    color: white;
}
.nft-text > .title:active, .nft-author:active {
    color: var(--cyan);
}
.nft-text > .body {
    color: var(--soft-blue);
}
.nft-number {
    color: var(--cyan);
}
.nft-left {
    color: var(--soft-blue);
}
.flex-container {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-item {
    display: flex;
    align-items: center;
}
.flex-item > span {
    margin-left: .5rem;
}
.nft-avatar-container {
    display: flex;
    align-items: center;
}
.nft-avatar-container > img {
    width: 2rem;
    border-radius: 1rem;
    border: thin solid var(--white);
}
.nft-avatar-container > h3 {
    font-size: 1em;
    margin-left: .75rem;
    color: var(--soft-blue);
}
.nft-author {
    cursor: pointer;
    color: var(--white);
}
hr {
    border: thin solid var(--line);
}
@media screen and (max-width: 375px) {
    .nft-card {
        width: 16rem;
    }
}